.container{
     flex-direction: row;
     display: flex;
}

.page-wrapper{
     display: flex;
     flex-direction: column;
     flex: 1
}

.header-user-wrapper{
     display: flex;
     margin: 0 auto;
     flex-direction: column;
     margin-top: 50px;
}

.header-user-title{
     font-size: 2rem;
     font-weight: bold;
     margin: 0 auto;
}

.header-user-subtitle{
     margin: 0 auto;
     margin-top: 10px;
}

.completed-schedules-wrapper{
     display: flex;
     margin: 0 auto;
     margin-top: 40px;
     background-color: rgb(239, 239, 239);
     padding: 1%;
     border-radius: 10px;
}


.completed-schedules-wrapper li{
     font-size: 0.8rem;
     margin-top: 5px;
}

.completed-schedules-wrapper li::before{
     content: 	'• ';
}
